:root {
  --primary-color: #242429;
  --secondary-color: #ebd9f7;
  --violet: #efc1ef;
  --blue: #b7d5fc;
  --coral: #f8bece;
  --orange: #fedfb5;
  --link-color: #f686f6;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  --main-font: "Inter", sans-serif;
}
body {
  background-image: url("/images/rainbow.png");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: var(--main-font);
  margin-top: 100px;
  margin-bottom: 100px;
}
a {
  color: var(--link-color);
}
h1 {
  font-size: 80px;
}
h2 {
  font-size: 45px;
}
h3 {
  font-size: 55px;
}
h4 {
  font-size: 30px;
}
p {
  font-size: 28px;
  opacity: 70%;
  line-height: 40px;
  text-align: justify;
}
.hero {
  text-align: center;
  font-family: var(--main-font);
  padding: 150px 20px;
}
.hero h1 {
  font-size: 90px;
  font-weight: 700;
  color: #242429;
}
.hero h3 {
  color: rgb(178, 189, 197);
  padding: 0px 0px 20px 0px;
  font-size: 40px;
}
.btn-branding {
  background-color: var(--secondary-color);
  padding: 20px 45px;
  border-radius: 20px;
  box-shadow: -15px -15px 30px 0 #fff, 15px 15px 30px 0 #1d0dca17;
  color: var(--primary-color);
  font-family: var(--main-font);
  font-weight: 600;
  font-size: 25px;
  text-decoration: none;
}
.work-container {
  margin: 20px 200px;
  padding: 20px 150px;
  border: 3px solid white;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.278);
}
.work-container h4 {
  padding: 20px 35px;
  font-size: 30px;
  font-weight: bold;
  background-color: #ebd9f744;
  border: 1px solid #ebd9f7;
  border-radius: 18px;
  color: #871ad06d;
}
.work-container h2 {
  font-size: 55px;
  font-weight: bold;
  margin-top: 50px;
}
.work-container img {
  max-width: 65%;
  height: auto;
  margin-top: 30px;
}
.weather-description {
  padding: 100px;
  margin-right: 100px;
}
.project-btn-1 {
  display: block;
  margin-top: 70px;
  padding: 15px 35px;
  width: 35%;
  text-align: center;
  background: linear-gradient(
    90deg,
    rgba(254, 223, 181, 1) 0%,
    rgba(254, 241, 183, 1) 100%
  );
  border-radius: 18px;
  color: var(--primary-color);
  font-family: var(--main-font);
  font-weight: 600;
  font-size: 20px;
  text-decoration: none;
}
.clock-description {
  padding: 100px;
  margin-left: 100px;
}
.project-btn-2 {
  display: block;
  margin-top: 70px;
  padding: 15px 35px;
  width: 35%;
  text-align: center;
  background: linear-gradient(
    90deg,
    rgba(248, 190, 206, 1) 0%,
    rgba(253, 218, 218, 1) 100%
  );
  border-radius: 18px;
  color: var(--primary-color);
  font-family: var(--main-font);
  font-weight: 600;
  font-size: 20px;
  text-decoration: none;
}
.film-description {
  padding: 100px;
  margin-right: 100px;
}
.project-btn-3 {
  display: block;
  margin-top: 70px;
  padding: 15px 35px;
  width: 35%;
  text-align: center;
  background: linear-gradient(
    90deg,
    rgba(183, 213, 252, 1) 0%,
    rgba(209, 239, 255, 1) 100%
  );
  border-radius: 18px;
  color: var(--primary-color);
  font-family: var(--main-font);
  font-weight: 600;
  font-size: 20px;
  text-decoration: none;
}
footer {
  padding: 20px;
  text-align: center;
  font-size: 20px;
  color: var(--secondary-color);
}
@media (max-width: 900px) {
}
